<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>@Page.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Public/css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="/Public/css/custom.css">


    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/Public/css/settings.css" media="screen" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Livvic:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <!--fontawesome-->
    <link rel="stylesheet" href="/Public/fontawesome-free-5.15.4-web/css/all.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">



    <link rel="stylesheet" href="/Public/css/animate.min.css">
    <link rel="stylesheet" href="/Public/css/baguetteBox.min.css">

    @RenderSection("header", required: false)
</head>
<body oncontextmenu="return ;">

    <div class="header" id="header">


        <div class="globalnav d-flex justify-content-lg-end justify-content-end">
            <ul>
                <li><a href="" title="" class="" target="_blank" rel="">Hợp tác với chúng tôi</a></li>
                <li><a href="" title=" " class="" target="_blank" rel="">Trợ giúp</a></li>
                <li><a href="" title=" " class="" target="_blank" rel="">Theo dõi</a></li>
                <li><a href="" title="" class="" target="_blank" rel="">Ưu đãi</a></li>
                <li><a href="" title="" class="" target="_blank" rel=""><i class="fas fa-phone"></i> SĐT - 0965982780</a></li>
            </ul>
        </div>

        <div class="head-topper">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-3 col-md-3 d-md-none d-lg-block">
                        <div class="logo-section d-flex text-left justify-content-lg-start justify-content-center">
                            <a href="#"><img src="/Public/img/logo.svg" class="d-lg-block d-md-none d-none" /></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 px-0 px-md-2 px-lg-2">
                        <div class="form-search-section">
                            <form>
                                <div class="form-group">
                                    <div class="input-group">

                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                               placeholder="Tìm kiếm sản phẩm">
                                        <div class="input-group-prepend">
                                            <a href="javascript:void(0)" onclick="filter_search()" id="filter_search"><div class="searchicon">GO</div></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-8  px-0 px-md-2 px-lg-2">

                        <!---
                             <div class="top-link d-flex justify-content-lg-end align-items-center text-center justify-content-center">
                             <ul>
                               <li><a href="tel:91-8806818972"><img src="img/phone.svg" width="20" class=""/>Call us: (+91) 987-654-3210</a></li>
                               <li class="d-lg-block d-none"><a href="#">
                               <img src="img/email.svg"width="20"  class=""/>info@gmail.com</a></li>
                             </ul>
                          </div>
                          ---->
                        <div class="header-social-icon d-flex justify-content-between ps-lg-5">

                            

                            <div class="header-right text-right ">
                                <div class="online-cart d-flex align-items-center justify-content-end">
                                    <a href="" type="button" class="trackorder me-lg-3 me-md-3 me-sm-2" data-bs-toggle="tooltip"
                                       data-bs-placement="bottom" title="Track My Order"></a>

                                    <a href="" type="button" data-bs-toggle="tooltip"
                                       data-bs-placement="bottom" title="My Cart" class="righticon me-lg-3 me-md-3 me-sm-2 cart"><span class="count"> 0 </span></a>

                                    <div class="dropdown">
                                        <button class="btn usericon dropbtn  dropdown-toggle" type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <ul class="dropdown-menu shadow user-menu" aria-labelledby="dropdownMenuButton1">
                                            <a href="">My Orders</a>
                                            <a href="">My Address</a>
                                            <a href="">Login</a>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Html.Action("MainMenu", "Module")

    </div>
    
    @RenderBody(); 
    <!--footer-->
    <section class="blog-section">
        <div class="footer-sections">
            <div class="hidden-xs"
                 style="text-align:center; font-size:35px; color:#333; padding:5px; border-bottom: 1px solid #ccc;">
                Make Someone Happy Today
            </div>
            <div class="footer-inner-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 subcribe text-center ">
                            <div class="footer-heading">
                                <p class="footer-txt-hedng">SIGN UP FOR EMAIL OFFERS &amp; UPDATES</p>
                            </div>
                            <input type="text" name="newsletter-email" id="newsletter-email" placeholder="Email">
                            <button class="subcribe" id="newsletter">SUBMIT</button>
                            <div class="errorNews" style="color: red;"></div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center text-center">
                            <div class="social-icons">
                                <div class="footer-heading">
                                    <p class="footer-txt-hedng">CONNECT WITH US</p>
                                </div>
                                <a class="facebook" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Facebook" target="_blank" href="">
                                    <i class="fab fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Twitter" class="twitter" href="">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="youtube" class="youtube" href=""><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                <a target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pinterest" class="pinterest" href=""><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                                <a target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="LinkedIn" class="linkedin" href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                                <a target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Instagram" class="Instagram" href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 hidden-xs">
                            <div class="footer-heading text-center">
                                <p class="footer-txt-hedng">SECURE ORDERING &amp; TRANSACTIONS</p>
                            </div>
                            <div class="pull-left">
                                <img src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/images/footerpayment.png"
                                     width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-items hidden-xs d-flex justify-content-center">
                <div class="footer-items-list ">
                    <a href="/about-us">About Us</a>
                    | <a href="">Sitemap</a>
                    | <a href="/contact-us">Contact Us</a>
                    | <a href="/faq">FAQS</a>
                    | <a href="/blog">Blog</a>
                    | <a href="/special-offers">Offers</a>
                    | <a href="/terms-of-use">Terms &amp; Conditions</a>
                    | <a href="/CustomizeYourBouquet">Customize Your Bouquet</a>
                    | <a href="/floristlogin">Become a Partner</a>
                </div>
            </div>
            <p style="padding-top:5px; font-size:12px; text-align:center; margin:0px; padding-bottom:5px;">Copyright &copy 2009-2022, MyFlowerTree.com, All Rights Reserved.</p>
        </div>

        <a id="scrollUp" href="#top" data-bs-toggle="tooltip" data-bs-placement="right" title="Go to Top" style="position: fixed; z-index: 2147483647; display: block;">
            <i class="fas fa-long-arrow-alt-up"></i>
        </a>

        <div id="WAButton" class="floating-wpp">
            <div class="floating-wpp-button">
                <img src="/Public/img/whatsapp-gif.gif">
                <div class="floating-wpp-button-image"></div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="/Public/js/bootstrap.bundle.min.js"></script>
        <script src="/Public/js/jquery-3.3.1.min.js"></script>
        <script src="/Public/js/wow.min.js"></script>
        <script src="/Public/js/baguetteBox.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
        <script type="text/javascript" src="/Public/js/whatsapp.js"></script>

        <script>
            $(function () {
                $('#WAButton').floatingWhatsApp({
                    phone: '+9717185100', //WhatsApp Business phone number International format-
                    //Get it with Toky at https://toky.co/en/features/whatsapp.
                    headerTitle: 'Chat with us on WhatsApp!', //Popup Title
                    popupMessage: 'Hello, how can we help you?', //Popup Message
                    showPopup: true, //Enables popup display
                    buttonImage: '<img src="/Public/img/whatsapp-gif.gif" />', //Button Image
                    //headerColor: 'crimson', //Custom header color
                    //backgroundColor: 'crimson', //Custom background button color
                    position: "right"
                });
            });

            //Auto Focus Input
            $(document).ready(function () {
                $('.appint-btn, #formclick').click(function () {
                    $('#fullname_f').focus();
                    $('#InputToFocus').focus();
                });
            });

            $(".appint-btn, #formclick").click(function () {
                $([document.documentElement, document.body]).animate({
                    scrollTop: $(".tp-mask-wrap, .contact_form_section").offset().top
                }, 200);
            });
        </script>

        <script>
            $(document).ready(function () {
                $('.close').click(function () {
                    $('.floating-wpp-popup').removeClass('active');
                });
                $('.floating-wpp-button').mouseover(function () {
                    $('.floating-wpp-popup').addClass('active');
                });
            });
        </script>

        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>


        <script>
            $(document).ready(function () {
                $('.contents').btnLoadmore({
                    showItem: 8,
                    whenClickBtn: 4,
                    textBtn: 'Load more...',
                    classBtn: 'btn btn-secondary'
                });
            });

        </script>
        <script>
            $(document).ready(function ($) {
                var $element = $('.counter');
                if ($element.length > 0) {
                    $element.counterUp({
                        delay: 10,
                        time: 1000
                    });
                }
            });
        </script>

        <script>
            $('.location-slider').slick({
                slidesToShow: 5,
                dots: true,
                arrows: true,
                autoplay: true,
                autoplaySpeed: 3000,
                prevArrow: '<i class="fas fa-chevron-left prev"></i>',
                nextArrow: '<i class="fas fa-chevron-right next"></i>',
                swipe: true,
                swipeToSlide: true,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        // centerMode: true,
                    }
                }, {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: false,
                        infinite: true,

                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: false,
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 2000,
                    }
                }]
            });

        </script>

        <script>
            $('.client-slider').slick({
                slidesToShow: 6,
                dots: false,
                arrows: true,
                autoplay: false,
                autoplaySpeed: 3000,
                prevArrow: '<i class="fas fa-chevron-left prev"></i>',
                nextArrow: '<i class="fas fa-chevron-right next"></i>',
                swipe: true,
                swipeToSlide: true,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        // centerMode: true,
                    }
                }, {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 2,
                        dots: false,
                        infinite: true,

                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        dots: false,
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 2000,
                    }
                }]
            });
        </script>

        <script>
            $('.project-slider').slick({
                slidesToShow: 4,
                dots: false,
                arrows: true,
                autoplay: false,
                autoplaySpeed: 3000,
                prevArrow: '<i class="fas fa-chevron-left prev"></i>',
                nextArrow: '<i class="fas fa-chevron-right next"></i>',
                swipe: true,
                swipeToSlide: true,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        // centerMode: true,
                    }
                }, {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: false,
                        infinite: true,

                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: false,
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 2000,
                    }
                }]
            });
        </script>


        <script>
            $('.ticker-slider').slick({
                speed: 500,
                arrows: false,
                fade: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                prevArrow: '<i class="fas fa-chevron-left tab-prev"></i>',
                nextArrow: '<i class="fas fa-chevron-right tab-next"></i>',
                dots: false,
            });
        </script>

        <script>
            window.addEventListener('load', function () {
                baguetteBox.run('.gallery,.gallery2');
            });
        </script>

        <script src="/Public/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>

        <script>
            $('.blog-slider').slick({
                speed: 500,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                dots: false,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        // centerMode: true,
                    }
                }, {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 2,
                        dots: false,
                        infinite: true,

                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: false,
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 2000,
                    }
                }]
            });
        </script>

        <script>
            $(document).ready(function () {
                $(window).scroll(function () {//scroll--top---indicator---arrow-jquery----//
                    if ($(window).scrollTop() > 600) {//---position---600----px scroll-----//
                        $("#scrollUp").fadeIn();
                    }
                    else {
                        $("#scrollUp").css("display", "none");
                    }
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $(window).scroll(function () {
                    if ($(window).scrollTop() < 90) { //-navbar-----scrolltop---fixed---jquery--/
                        $('#header').removeClass('navbar-scroll');
                    }
                    else {
                        $('#header').addClass('navbar-scroll');
                    }
                });
            });
        </script>
        @RenderSection("footer", required: false)
</body>
</html>
