@model MyClass.Models.Post

@{
    ViewBag.Title = "Tạo trang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content my-3">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>THÊM TRANG</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-sm btn-success" type="submit" name="create"><i class="fas fa-save"></i> Lưu[Thêm]</button>
                            <a href="@Url.Action("Index", "Page")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i> Về danh sách</a>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Tên tiêu đề <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Chi tiết </label>
                                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Từ khóa </label>
                                @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Tổng quan</label>
                                @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">                           
                            <div class="form-group">
                                <label>Trạng thái </label>
                                @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Không xuất bản", Value = "2" }, new SelectListItem { Text = "Xuất bản", Value = "1" } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}


