@model MyClass.Models.Category

@{
    ViewBag.Title = "Thêm danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content my-3">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>THÊM DANH MỤC SẢN PHẨM</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-sm btn-success" type="submit" name="create"><i class="fas fa-save"></i> Lưu[Thêm]</button>
                            <a href="@Url.Action("Index","Category")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i> Về danh sách</a>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Tên danh mục sản phẩm <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Từ khóa <span class="text-danger">(*)</span></label>
                                @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Mô tả <span class="text-danger">(*)</span></label>
                                @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Danh mục cấp cha </label>
                                @Html.DropDownListFor(model => model.ParentId, (SelectList)ViewBag.ListCat, "Cấp cha", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Sắp xếp </label>
                                @Html.DropDownListFor(model => model.Orders, (SelectList)ViewBag.ListOrder, "Sắp xếp", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Orders, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Trạng thái </label>
                                @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Không xuất bản", Value = "2" }, new SelectListItem { Text = "Xuất bản", Value = "1" } }, new { @class="form-control"})
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}

